.navbar {
  font-family: 'Nunito-Regular', sans-serif;
  background-color: transparent;
  * {
    :hover,
    :active,
    :focus {
      text-decoration: none;
      background-color: transparent;
    }
  }
  a {
    color: #fff;
  }
  .active {
    color: #fff;
    font-family: 'Nunito-Bold', sans-serif;
  }
  .navbar-brand a {
    color: #fff;
  }
  .dropdown-item {
    color: #fff;
  }
}
