// custom variable overrides

// $body-bg: #000;
// $body-color: #111;

$theme-colors: (
  // 'primary': '',
  // 'danger': '',
  // 'secondary':'',
  // 'success':'',
  // 'info':'',
  // 'warning':'',
  // 'light':'',
  // 'dark':''
);

// mongol
#Mongol {
  background-color: black;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('/font/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('/font/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: 'Roboto';
  //src: url('/font/Roboto-Regular.ttf');
  src: url('/font/Nunito-Regular.ttf');
}

body {
  font-family: 'Nunito-Regular', sans-serif !important;
  background: rgb(61,106,239);
  background-image: linear-gradient( 109.6deg,  rgba(61,106,239,1) 11.2%, rgba(122,14,190,1) 70.2% );
  min-height: 100vh;
}

.notification-message.title, .notification-message.message {
  font-family: 'Nunito-Regular', sans-serif;
}
