// custom variable overrides

// $body-bg: #000;
// $body-color: #111;

$theme-colors: (
  // 'primary': '',
  // 'danger': '',
  // 'secondary':'',
  // 'success':'',
  // 'info':'',
  // 'warning':'',
  // 'light':'',
  // 'dark':''
);

// mongol
#Mongol {
  background-color: black;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('/font/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('/font/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: 'Roboto';
  //src: url('/font/Roboto-Regular.ttf');
  src: url('/font/Nunito-Regular.ttf');
}

body {
  font-family: 'Nunito-Regular', sans-serif !important;
  background: rgb(61,106,239);
  background-image: linear-gradient( 109.6deg, rgba(61,106,239,1) 11.2%, rgba(122,14,190,1) 70.2% );
  min-height: 100vh;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  background: transparent;
  width: 1em !important;
}
body::-webkit-scrollbar-track-piece {
  background-image: linear-gradient( 109.6deg, rgba(61,106,239,0.2) 11.2%, rgba(122,14,190,0.2) 70.2% );
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient( 109.6deg, rgba(122,14,190,0.8) 11.2%, rgba(61,106,239,0.8) 70.2% );
  border-radius: 0.5em;
}

.notification-message.title, .notification-message.message {
  font-family: 'Nunito-Regular', sans-serif;
}

.dropdown-toggle[aria-expanded="true"]:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dropdown-toggle:after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
