.div-loader {
  //position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  i {
    font-size: 44px;
  }

  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }
}
